.catalog__text {
  @include fonts-stile;
  color: $basic-white;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
}

.catalog__description {
  @include container;
  @include fonts-stile;
  font-size: 14px;
  line-height: 30px;
}

.catalog__container {
  text-align: center;
}
