.contact__title {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  color: $dark-blue;
}

.contact__list {
  @include stile-list;
}

.contact__list-title {
  font-style: normal;
  color: $dark-blue;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}

.contact__item {
  @include links;
  color: $red-color;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
}
