.form {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    @include container;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
  }
}

.form__text {
  @include fonts-stile;
  text-align: center;
  margin: 0 auto;
  font-size: 14px;
  line-height: 30px;
  width: 280px;
  padding-top: 44px;
  padding-bottom: 35px;

  @media (max-width: $mobile-width-only) {
    @include container;
  }

  @media (min-width: $tablet-width) {
    width: 490px;
    padding-top: 90px;
    padding-bottom: 60px;
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    width: 756px;
    padding-bottom: 72px;
  }
}

.form__text-fill {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.form__submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 3;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-bottom: 5px;
  }
}
