.form-platforms {
  position: relative;
  padding-bottom: 42px;
  order: 2;

  @media (min-width: $tablet-width) {
    position: static;
    min-height: 295px;
    padding-bottom: 0;
    order: 1;
  }

  @media (min-width: $desktop-width) {
    max-width: 406px;
    width: 50%;
  }
}

.form-platforms__list {
  @include stile-list;
  display: grid;
  gap: 38px;

  @media (max-width: $mobile-width-only) {
    @include container;
  }

  @media (max-width: $tablet-width) {
    padding-top: 82px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 49px;
    padding-left: 60px;
  }

  @media (min-width: $desktop-width) {
    gap: 39px;
    padding-top: 54px;
    padding-left: 74px;
  }
}

.form-platforms__input + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 37px;
  height: 37px;
  background: $basic-white;
  border: 2px solid $border-color;
  border-radius: 50%;
}

.form-platforms__input:checked + label::after {
  content: "";
  position: absolute;
  top: 13px;
  left: 13px;
  width: 15px;
  height: 15px;
  background-color: $red-color;
  border-radius: 50%;
}

.form-platforms__input:hover + label::before,
.form-platforms__input:focus + label::before {
  border: 2px solid $dark-blue;
}

.form-platforms__input:focus + label::before {
  border: 2px solid $red-color;
}
