.form-number {
  border: 2px solid $border-color;
  border-radius: 1px;
  order: 2;

  @media (min-width: $tablet-width) {
    &--indent {
      margin-top: 61px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 100%;

    &--indent {
      margin-top: 64px;
    }
  }
}

@media (min-width: 280px) and (max-width: $tablet-width) {
  .form-number {
    border: 0;
  }

  .form-number__title {
    display: none;
  }
}

.form-number__list {
  @include stile-list;

  @media (max-width: $mobile-width-only) {
    @include container;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.form-number__title {
  text-align: center;
  color: $red-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 0 31px 0 31px;
  }
}

.form-number__item {
  @include stile-list;
  margin: 0 auto;

  @media (max-width: $desktop-width) {
    &:first-child {
      padding-bottom: 41px;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    width: 496px;
  }

  @media (min-width: $desktop-width) {
    width: 371px;
  }
}

.form-number__icon {
  @media (min-width: $tablet-width) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 60px;
      height: 57px;
      background-repeat: no-repeat;
      background-position: center;
      border: 2px solid $border-color;
      background-color: $gray;
    }
  }
}
