.form-write {
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.form-write--name {
  border: 0;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    padding-bottom: 44px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
  }
}

.form-write--number {
  padding-top: 32px;
  padding-bottom: 24px;

  @media (min-width: $desktop-width) {
    padding-bottom: 13px;
  }
}

.form-write__list {
  display: grid;
  gap: 15px;
  padding: 0;
  min-width: 280px;

  @media (max-width: $mobile-width-only) {
    @include container;
  }

  @media (min-width: $tablet-width) {
    gap: 49px;
    max-width: 620px;
  }

  @media (min-width: $desktop-width) {
    gap: 50px;
    max-width: 433px;
    margin: 0;
    padding-top: 14px;
  }
}

.form-write__item {
  @include stile-list;
  display: grid;
  grid-gap: 5px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: baseline;
  }
}

.form-write__label {
  @include fonts-stile;
  color: $red-color;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  padding-left: 22px;

  @media (min-width: $tablet-width) {
    padding-right: 14px;
    padding-left: 0;
  }

  &--number {
    padding-left: 18px;

    @media (min-width: $tablet-width) {
      order: 1;
      padding-top: 8px;
    }
  }
}

.form-write__input {
  border: 2px solid $border-color;
  width: calc(100% - 30px);
  min-height: 59px;
  border-radius: 1px;

  &::placeholder {
    @include fonts-stile;
    font-size: 18px;
    line-height: 57px;
  }

  &[type="text"] {
    @include fonts-stile;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 30px;
    padding-left: 20px;
  }

  &:hover,
  &:focus {
    border-color: $dark-blue;
  }

  &:active {
    border-color: $red-color;
  }
}
