.form-write__item {
  @include stile-list;
}

.form-write__label {
  color: $red-color;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.form-write__input {
  border: 2px solid $border-color;
  min-width: 276px;
  min-height: 59px;

  &::placeholder {
    color: $dark-blue;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
  }
}
