.form-selectable {
  background-color: $gray;
}

.form-selectable__title {
  color: $red-color;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

.form-selectable__label {
  color: $dark-blue;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}
