.form-number {
  border: 0;
  order: 2;

  @media (min-width: $tablet-width) {
    border: 2px solid $border-color;
    border-radius: 1px;

    &--indent {
      margin-top: 57px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 100%;

    &--indent {
      margin-top: 55px;
    }
  }
}

.form-number__list {
  @include stile-list;

  @media (max-width: $mobile-width-only) {
    @include container;
    display: grid;
    grid-gap: 18px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.form-number__title {
  display: none;

  @media (min-width: $tablet-width) {
    display: initial;
    text-align: center;
    color: $red-color;
    text-transform: uppercase;
    padding: 0 31px 0 31px;
  }
}

.form-number__item {
  @include stile-list;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    width: 496px;

    &:first-child {
      padding-bottom: 30px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 371px;

    &:first-child {
      padding-bottom: 0;
    }
  }
}

.form-number__icon {
  @media (min-width: $tablet-width) {
    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      width: 59px;
      height: 59px;
      border: 2px solid $border-color;
      background-color: $gray;
      z-index: 1;
    }
  }
}
