.form-write {
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.form-write--name {
  border: 0;
  padding-bottom: 44px;

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
  }
}

.form-write--number {
  padding-top: 42px;
  padding-bottom: 44px;
}

.form-write__list {
  display: grid;
  gap: 29px;
  padding: 0;
  min-width: 280px;

  @media (max-width: $mobile-width-only) {
    @include container;
  }

  @media (min-width: $tablet-width) {
    gap: 56px;
    max-width: 620px;
  }

  @media (min-width: $desktop-width) {
    gap: 58px;
    max-width: 433px;
  }
}

.form-write__item {
  @include stile-list;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: baseline;
  }
}

.form-write__label {
  @include fonts-stile;
  color: $red-color;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-right: 20px;
  }

  &--number {
    padding-left: 18px;

    @media (min-width: $tablet-width) {
      order: 1;
      padding-top: 22px;
    }
  }
}

.form-write__input {
  border: 2px solid $border-color;
  width: calc(100% - 30px);
  min-height: 59px;
  border-radius: 1px;

  &::placeholder {
    @include fonts-stile;
    font-size: 18px;
    line-height: 30px;
  }

  &[type="text"] {
    @include fonts-stile;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 30px;
    padding-left: 20px;
  }

  &:hover,
  &:focus {
    border-color: $dark-blue;
  }

  &:active {
    border-color: $red-color;
  }
}
