.information {
  color: $dark-blue;
}

.information__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.information__container {
  @include container;
  @include fonts-stile;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  min-width: 280px;
  min-height: 216px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 40px;
    line-height: 54px;
    min-width: 588px;
    min-height: 238px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
    min-width: 780px;
    min-height: 317px;
  }
}

.information__description {
  display: block;

  &:last-child {
    @media (max-width: $tablet-width) {
      padding-top: 45px;
    }
  }
}

@media (min-width: $tablet-width) {
  .information__br {
    display: none;
  }
}

.information__background {
  background-color: $gray;
}

.information__box {
  @include container;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column-reverse;
    justify-content: space-between;
  }
}

.information__title {
  @include fonts-stile;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: $basic-black;
  margin: 0;
  padding: 45px 0 25px 0;

  @media (min-width: $tablet-width) {
    text-align: left;
    padding: 46px 0 24px 0;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    padding: 59px 0 35px 0;
  }
}

.information__text {
  @include fonts-stile;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  margin: 0;

  @media (min-width: $tablet-width) {
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .information__text br {
    display: none;
  }
}

.information__list {
  @include stile-list;
  display: flex;
  justify-content: center;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 68px;
    margin: 0 auto;
  }
}

.information__item {
  max-width: 280px;

  @media (min-width: $tablet-width) {
    max-width: 310px;
  }

  @media (min-width: $desktop-width) {
    max-width: 252px;
    text-align: center;
  }
}

.information__img {
  min-width: 158px;
  min-height: 277px;

  @media (min-width: $tablet-width) {
    min-width: 268px;
    min-height: 482px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    min-width: 188px;
    min-height: 301px;
  }
}

.information__img--hide {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.information__images {
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-right: 42px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    grid-gap: 134px;
    margin: 0 auto;
  }
}
