.information {
  color: $dark-blue;
}

.information__container {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
}

.information__title {
  color: $basic-black;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.information__text {
  @include fonts-stile;
  font-size: 14px;
  line-height: 24px;
}

.information__list {
  @include stile-list;
  background-color: $gray;
}
