.information {
  color: $dark-blue;
}

.information__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.information__container {
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  min-width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: $tablet-width-max;
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-width-max;
  }
}

.information__description {
  display: block;
}

@media (min-width: $tablet-width) {
  .information__br {
    display: none;
  }
}

.information__background {
  background-color: $gray;
}

.information__box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    flex-direction: row-reverse;
    justify-content: flex-end;
    max-width: $tablet-width-max;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column-reverse;
    justify-content: space-between;
    max-width: $desktop-width-max;
  }
}

.information__title {
  text-align: center;
  color: $basic-black;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}

.information__text {
  @include fonts-stile;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  margin: 0;

  @media (min-width: $tablet-width) {
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .information__text br {
    display: none;
  }
}

.information__list {
  @include stile-list;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 68px;
    max-width: $desktop-width-max;
  }
}

.information__item {
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 310px;
  }

  @media (min-width: $desktop-width) {
    width: 252px;
    text-align: center;
  }
}

.information__img {
  width: 158px;
  height: 277px;

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 482px;
  }

  @media (min-width: $desktop-width) {
    width: 188px;
    height: 301px;
  }
}

.information__img--hide {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.information__images {
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 134px;
    max-width: $desktop-width-max;
  }
}
