.intro {
  background: url("../../img/back-desktop.png") no-repeat center; //временно
}

.intro__wrapper {
  @include container;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 667px;
  width: auto;
  max-width: 619px;

  @media (min-width: $tablet-width) {
    justify-content: center;
    height: 619px;
    max-width: none;
  }

  @media (min-width: $desktop-width) {
    height: 743px;
  }
}

.intro__title {
  color: $basic-white;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
}

.intro__container {
  background-color: $background-intro;

  @media (min-width: $tablet-width) {
    background-color: transparent;
  }
}

.intro__text {
  color: $basic-white;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;

  &--form {
    font-size: 24px;
    line-height: 33px;
  }
}

.intro__form {
  background-color: $background-intro;
}
