.intro__wrapper {
  @include fonts-stile;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: $basic-white;
  background-color: $background-intro;
}

.intro__title {
  line-height: 120%;
}
