.intro {
  overflow: hidden;
  background-image: url("../../img/back-desktop.png"); //временно
  background-repeat: no-repeat;
  background-position: center bottom;
}

@media (min-width: $tablet-width) {
  .intro__box {
    @include container;
  }
}

.intro__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 667px;
  width: auto;
  max-width: 658px;

  @media (min-width: $tablet-width) {
    justify-content: center;
    max-width: 300px;
    height: 619px;
  }

  @media (min-width: $desktop-width) {
    height: 743px;
  }
}

.intro__title {
  display: block;
  text-align: center;
  color: $basic-white;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  margin: 0;
  padding-top: 29px;

  @media (min-width: $tablet-width) {
    font-size: 40px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.intro__container {
  background-color: $background-intro;

  @media (min-width: $tablet-width) {
    background-color: transparent;
  }
}

.intro__holder {
  text-align: center;
}

.intro__description {
  padding-top: 28px;
  padding-bottom: 38px;

  @media (min-width: $tablet-width) {
    padding-top: 38px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 58px;
  }
}

.intro__text {
  color: $basic-white;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }

  &--page {
    font-size: 24px;
    line-height: 33px;
  }
}

.intro__button {
  padding-top: 28px;
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding-top: 39px;
    padding-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 51px;
    padding-bottom: 67px;
  }
}

.intro__page {
  text-align: center;
  vertical-align: center;
  min-height: 171px;

  @media (min-width: $tablet-width) {
    min-height: 330px;
  }

  @media (min-width: $desktop-width) {
    height: 284px;
  }
}
