.page-footer {
  min-height: 284px;

  @media (min-width: $tablet-width) {
    min-height: 118px;
  }

  @media (min-width: $desktop-width) {
    min-height: 190px;
  }
}

.copyright__text {
  @include fonts-stile;
  font-size: 14px;
  line-height: 18px;
  padding: 7px 15px 0 0;
}

.page-footer__wrapper {
  @include container;
  display: grid;
  gap: 41px;
  padding-top: 33px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr min-content 1fr;
    gap: normal;
    padding-top: 27px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 75px;
  }
}

.page-footer__logo {
  display: block;
  width: 145px;
  height: 40px;
  margin: 0 auto;

  &--desktop {
    display: none;
  }

  @media (min-width: $tablet-width) {
    text-align: left;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 147px;

    &--mobile {
      display: none;
    }

    &--desktop {
      display: inherit;
    }
  }
}

.page-footer__link {
  svg {
    fill: $dark-blue;

    &:hover,
    &:focus {
      fill: $red-color;
    }

    &:active {
      fill: $dark-blue;
      opacity: 0.3;
    }
  }
}

.page-footer__copyright {
  display: flex;
  text-align: center;
  align-content: baseline;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    text-align: right;
    margin: 0;
    justify-content: flex-end;
    padding-top: 10px;
  }

  @media (min-width: $desktop-width) {
    b {
      font-size: 18px;
      line-height: 18px;
    }
  }
}

.page-footer__link--academy {
  svg {
    fill: $red-color;

    &:hover,
    &:focus {
      fill: $dark-blue;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
