.page-header {
  background-color: $dark-blue;
}

.page-header__list {
  @include stile-list;
}

.page-header__item {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
}

.page-header__item a {
  @include links;
  color: $basic-white;
}
