.page-header {
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 3;
}

.page-header--open {
  background-color: $dark-blue;
}

.page-header__wrapper {
  margin: 0 auto;
  min-width: 280px;
  min-height: 66px;

  @media (min-width: $tablet-width) {
    min-width: 620px;
    min-height: 110px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 940px;
    margin: 0 auto;
  }
}

.page-header__logo {
  @media (max-width: $desktop-width) {
    padding-top: 27px;
    padding-bottom: 36px;
    padding-left: 20px;
  }

  @media (max-width: $tablet-width) {
    padding-top: 22px;
    padding-bottom: 14px;
  }
}

.page-header__image img {
  width: 74px;
  height: 23px;

  @media (min-width: $tablet-width) {
    width: 145px;
    height: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 147px;
  }
}

.page-header__list {
  @include stile-list;
  display: flex;
  flex-direction: column;
  text-align: center;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 620px;
  }
}

.page-header__item {
  @include fonts-stile;
  color: $basic-white;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;

  @media (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 63px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom: 1px solid $basic-black;

    a {
      text-align: center;
      vertical-align: middle;
    }
  }

  @media (min-width: $desktop-width) {
    @include fonts-stile;
    line-height: 18px;
    margin-right: 79px;
    text-transform: none;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}

.page-header__item a {
  @include fonts-stile;
  color: $basic-white;

  &:focus {
    color: $red-color;
  }

  &:hover {
    color: $red-color;
  }

  &:active {
    color: $red-color;
    opacity: 0.3;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 10px;

    &:active {
      color: $basic-white;
      opacity: 0.3;
    }
  }
}

.page-header__active {
  border: none;

  @media (min-width: $desktop-width) {
    border-bottom: 1px solid $basic-white;

    &:hover {
      border-bottom: 1px solid;
    }

    &:focus {
      border-bottom: 1px solid;
    }
  }
}
