.prise__table {
  border-spacing: 0;
}

.prise__header-cell {
  @include fonts-stile;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: $dark-blue;
  color: $basic-white;
  border: 2px solid $border-color;
}

.prise__information {
  text-transform: uppercase;
}
