.reviews {
  @include container;
  min-width: 280px;
}

.reviews__author-info {
  display: flex;
  flex-direction: column;
}

.reviews__author-name {
  @include fonts-stile;
  color: $basic-black;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    order: 1;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.reviews__list {
  @include stile-list;
}

.reviews__author-work {
  @include fonts-stile;
  font-size: 14px;
  line-height: 30px;
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    font-size: 18px;
    order: 1;
  }
}

.reviews__author-text {
  @include fonts-stile;
  font-size: 14px;
  line-height: 30px;
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    width: 688px;
  }
}

.reviews__item {
  margin: 0;
}

.reviews__buttons {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.reviews__toggles {
  width: 280px;
  margin: 0 auto;
  text-align: center;
}
