.reviews__author-name {
  color: $basic-black;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.reviews__list {
  list-style: none;
}

.reviews__author-work {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
}

.reviews__author-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
}
