.social {
  margin: 0 auto;
}

.social__list {
  @include stile-list;
  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: 14px;
  vertical-align: middle;
}

.social__item {
  width: 48px;
  height: 48px;
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%;
  cursor: pointer;

  &:hover,
  &:focus {
    border-color: $dark-blue;
  }

  &:active {
    opacity: 0.1;
  }
}

.social__link {
  &--twitter {
    svg {
      padding-top: 18px;
      padding-left: 16px;
    }
  }

  &--facebook {
    svg {
      padding-top: 16px;
      padding-left: 20px;
    }
  }

  &--youtube {
    svg {
      padding-top: 18px;
      padding-left: 18px;
    }
  }
}
