.write {
  order: 2;
  border: 0;
  padding: 0;
  max-width: 280px;

  @media (max-width: $mobile-width-only) {
    display: grid;
  }

  &--indent {
    margin: 39px auto 45px auto;
  }

  @media (min-width: $tablet-width) {
    min-width: 616px;
    min-height: 296px;
    border: 2px solid $border-color;
    border-radius: 1px;
    order: 3;

    &--indent {
      margin-top: 61px;
      margin-bottom: 70px;
    }
  }

  @media (min-width: $desktop-width) {
    min-width: 936px;
    min-height: 213px;
    width: 100%;

    &--indent {
      margin-top: 58px;
      margin-bottom: 69px;
    }
  }
}

.write__title {
  @include fonts-stile;
  color: $red-color;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 0 31px 0 31px;
  }
}

.write__area {
  width: calc(276px - 20px);
  height: calc(197px - 22px);
  border: 2px solid $border-color;
  border-radius: 1px;
  resize: none;

  &::placeholder {
    @include fonts-stile;
    font-size: 18px;
    line-height: 30px;
  }

  &[id="note"] {
    @include fonts-stile;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 30px;
    padding-left: 20px;
    padding-top: 13px;
  }

  @media (min-width: $tablet-width) {
    display: block;
    margin: auto;
    margin-top: 35px;
    width: calc(496px - 20px);
    height: calc(189px - 15px);
  }

  @media (min-width: $desktop-width) {
    margin-top: 31px;
    width: calc(810px - 20px);
    height: calc(118px - 10px);
  }

  &:hover,
  &:focus {
    border-color: $dark-blue;
  }

  &:active {
    border-color: $red-color;
  }
}
