.write {
  order: 2;
  border: 0;
  margin: 0;
  padding: 0;
  max-width: 280px;

  @media (min-width: $tablet-width) {
    min-width: 616px;
    min-height: 289px;
    border: 2px solid $border-color;
    border-radius: 1px;
  }

  @media (min-width: $desktop-width) {
    min-width: 936px;
    min-height: 213px;
    width: 100%;
  }
}

.write__title {
  @include fonts-stile;
  color: $red-color;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
}

.write__area {
  width: calc(276px - 20px);
  height: calc(197px - 22px);
  border: 2px solid $border-color;
  border-radius: 1px;
  resize: none;

  &::placeholder {
    @include fonts-stile;
    font-size: 18px;
    line-height: 30px;
  }

  &[id="note"] {
    @include fonts-stile;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 30px;
    padding-left: 20px;
    padding-top: 22px;
  }

  @media (min-width: $tablet-width) {
    display: block;
    margin: auto;
    margin-top: 28px;
    width: calc(496px - 20px);
    height: calc(189px - 22px);
  }

  @media (min-width: $desktop-width) {
    margin-top: 39px;
    width: calc(810px - 20px);
    height: calc(118px - 22px);
  }
}
