.button {
  @include fonts-stile;
  cursor: pointer;
}

.button__intro--download {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: $basic-white;
  width: 280px;
  height: 55px;
  border: 3px solid $basic-white;
  border-radius: 29px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 300px;
  }

  @media (min-width: $desktop-width) {
    height: 56px;
    font-size: 21px;
  }

  &:hover,
  &:focus {
    background-color: $basic-white;
    color: $red-color;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .button__like {
    order: 1;
  }
}

.button__form {
  @include fonts-stile;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: $basic-white;
  width: 276px;
  height: 59px;
  background-color: $green;
  text-transform: uppercase;
  border: 2px solid $green;
  border-radius: 1px;

  @media (min-width: $tablet-width) {
    width: 296px;
    height: 59px;
  }

  &:hover,
  &:focus {
    background: #1c9b5e;
    border: 2px solid #1c9b5e;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    color: $basic-white;
    background: $border-color;
    border: 2px solid $border-color;
  }

  &--modal {
    margin: 0 auto;
  }
}
