// colors
$dark-blue: #283645;
$basic-black: #000000;
$basic-white: #ffffff;
$background-intro: #1d2631;
$gray: #f2f2f2;
$border-color: #e5e5e5;
$red-color: #d22856;
$green: #2aab6d;

// viewports
$tablet-width: 660px;
$desktop-width: 1200px;
$mobile-width-only: 659px;
